body{
    margin: 0;
}
.app-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./assets/wallpaper.webp");
    background-size: cover;
    background-position: center;
}

@media screen and (max-width:768px){
    .app-container{
        min-height: 100vh;
        justify-content: space-around;
    }
}
@media screen and (max-width:992px){
    .app-container{
        min-height: 100vh;
        justify-content: space-around;
    }
}